%btn{
    padding: 10px 10px;
    border-radius: 0px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn{
    //White button
    &-primary{
        @extend %btn;
        background-color:$btn-primary-bg ;
        color: $btn-primary-txt;

        &:hover{
            box-shadow: 4px 4px 4px 2px rgba(255, 255, 255, 0.2);
        }

    }

    //Black button
    &-secondary{
        @extend %btn;
        background-color:$btn-secondary-bg ;
        color: $btn-secondary-txt;
        &:hover{
            box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
        }
    
    }


}
