
//Brand Colors
$brand-color-primary:#fff;
$brand-color-secondary:#b4004e;

//Text colors
$txt-color-primary:#000000;
$txt-color-secondary:#fff;

//Font-weight
$roboto-black:900;
$roboto-bold:700;
$roboto-medium:500;
$roboto-regular:400;
$roboto-light:300;
$roboto-thin:100;



//Button colors
$btn-primary-bg:#fff;
$btn-primary-txt:#b4004e;

$btn-secondary-bg:#b4004e;
$btn-secondary-disable-gb: #b3b3b3;
$btn-secondary-txt:#fff;

//Border colors
$border-primary:#fff;
$border-secondary:#b4004e;

//Other colors
$blue:#6285ff;
$grey:#eee;
$darkGrey:#b3b3b3;
$red:#c93d3d;