.cart-page {
    padding: 50px 50px;

    h3 {
        text-align: center;
        margin-bottom: 20px;

    }

    section {
        display: flex;
        justify-content: space-between;

     

        .price-details {
            width: 350px;
            background-color: $grey;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            .container{
               padding: 15px;
                border:1px solid $darkGrey;

                .total-amount{
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 20px;
                    border-bottom: 1px dotted $darkGrey;
                    font-weight: $roboto-bold;
                }

                .checkout-btn{
                    padding: 20px 0;
                    .btn-secondary{
                        width: 100%;
                        padding: 15px;
                    }
                }

            }

           

        }
    }
}