.product-page{

    .container{
        display: flex;
        flex-wrap: wrap;
        padding: 50px 20px;

        .product-image{
            width: 50%;
            padding: 30px;

            img{
                width: 100%;
                object-fit: cover;
                border: 1px solid #000;
                // height: 300px;
            }
        }

        .product-description{
            width: 50%;
            padding: 30px;
            h3{
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 30px;
            }

            h4{
                margin-bottom: 30px;
                color: $brand-color-secondary;
                

                span{
                    color: $txt-color-primary;
                }
            }

            .btn-secondary{
                font-size: 14px;
            }

        }

        .product-reviews{
            width: 100%;
            padding: 30px;

            h3{
                margin-bottom: 30px;

            }

            .review-wrapper{
                .review{
                    margin-bottom: 20px;
                }
            }




        }


    }

}