.shop-page{
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        padding: 100px 50px;
        // height: 100vh;
        overflow: auto;

        .product-card{
            margin: 0 15px 30px;
        }
    }
}