.shop-page{
    .products{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        padding: 100px 50px;
        // height: 100vh;
        overflow: auto;

        .product-card{
           margin-bottom: 30px;
        }
    }
}